<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>idageChangeQQSport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C3926FF1D193CAA00D36692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3927181D193CAB00D36692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C3927231D193CAB00D36692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
